<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio</title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container">
    <h1>Bienvenido a Senior Fit XR, la app de ejercicios en VR</h1>
    <p>Esta es una plataforma para registrar y visualizar usuarios de una app de ejercicios en VR.</p>
    <p>Usa la barra superior para navegar entre las secciones.</p>
  </div>
</body>
</html>
